.App {
  @apply text-center;
}

.App-logo {
  @apply h-40;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  @apply bg-gray-900 min-h-screen flex flex-col items-center justify-center text-white text-lg;
}

.App-link {
  @apply text-blue-400 hover:text-blue-300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Centering the Signup Form */
.signup-container {
  width: 350px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  
  /* Centering */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-container h2 {
  margin-bottom: 15px;
  color: #333;
}

.signup-container input,
.signup-container select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signup-container button:hover {
  background: #45a049;
}

.error-message {
  color: red;
  font-size: 14px;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link span {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

.login-link span:hover {
  text-decoration: underline;
}
